.categories{
    margin-left: 5px;  
}

.logo{
    animation: rota 800ms cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate  infinite; 
    transform-origin: center center;
}

.blogs{
    max-height: 250px;
    flex-wrap: wrap;
}

.textBlog{
    text-align: center;
    color:#F4FFFB
}

.cards{
    display: flex;    
    flex-wrap: wrap;
    justify-content:center;

}

@keyframes rota{
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
        scale: (1.3);
    }
}



.welcome{
    height: 90dvh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    color: #F4FFFB;
}

.latest{
    animation: 1s on-off alternate infinite
} 

.col-latest-img{
    padding: 0px;
}


@keyframes on-off
{
    0%{
        background-color: rgb(240, 239, 239);
        color: #000;
    }
    14%{
        background-color: rgb(207, 205, 205);
        color: #000;
    }
    28%{
        background-color: rgb(110, 109, 109);
        color: #ffffff;
    }
    42%{
        background-color: rgb(24, 23, 23);
        color: #ffffff;
    }
    56%{
        background-color: rgb(110, 109, 109);
        color: #ffffff;
    }
    70%{
        background-color: rgb(207, 205, 205);
        color: #000;
    }
    84%{
        background-color: rgb(240, 239, 239);
        color: #000;
    } 
    100%{
        background-color: rgb(255, 255, 255);
        color: #000;
    } 
}

.search{
    max-width: 300px;  
    min-width: 90px; 
    max-height:38px
}

.noArticles{
    color: #fff;
}